extends layout

block content
  div#top
    div.col
        select(id='col1',class="showstate",size="30")
    div.col
        select(id='col2',class="showstate",size="30")
    div.col
        select(id='col3',class="showstate",size="30")
    div.col
        select(id='col4',class="showstate",size="30")
  div#bottom
    div#left
        div#videocover
            div#vidmsg
            div#vidframe
            div#video
        div#infobox
        div#debug
        div#qry
    div#right
        div#tax
    div#botbot
