extends layout

block content
  div#top
    div#menu
        img(src="images/logo.png")
    div.col
        select(id='col1',class="showstate",size="30")
    div.col
        select(id='col2',class="showstate",size="30")
    div.col
        select(id='col3',class="showstate",size="30")
    div.col
        select(id='col4',class="showstate",size="30")
    div#debug(class="fadeback")
    div#qry(class="fadeback")
  div#bottom
    div#left
        div#videocover
            div#vidmsg
            div#vidframe
            div#video
        div#infobox
    div#right
        div#tax
    div#botbot
